html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* navbar styles ------------------*/
nav {
  z-index: 100;
}
.codo-img {
  height: auto;
  width: auto;
  max-height: 75px;
  max-width: 270px;
}
.navbar-brand {
  color: white;
}
@media only screen and (min-width: 1100px) {
  .codo-img {
    margin-left: 4rem;
  }
}

.navbar {
  background-color: rgba(53, 58, 64, 255);
}
.navbar :hover {
  transition: all 1s ease-out;
  color: white;
}
.green {
  color: rgb(7, 162, 7);
}

.grey {
  color: rgb(151, 151, 151);
}

.nav-item {
  margin-right: 20px;
}

/* main styles----------------- */
.hawai {
  position: relative;
}

.overlay {
  font-size: x-small;
  text-align: right;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  position: absolute;
  top: 8.5rem;
  right: 1rem;
}

@media only screen and (min-width: 900px) {
  .overlay {
    font-size: large;
    text-align: right;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
      0 -0.07em black;
    color: white;
    position: absolute;
    top: 34rem;
    right: 2rem;
  }
}

.orador {
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 5px;
  margin-left: 5px;
}

.comprar {
  color: white;
  background-color: rgb(14, 226, 14);
  border-color: rgb(14, 226, 14);
  border-radius: 5px;
  margin-right: 5px;
}

.conoce {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.parr {
  margin-bottom: 0;
}

.js {
  display: inline;
  border: 2px solid rgba(254, 193, 7, 255);
  border-radius: 5px;
  background-color: rgba(254, 193, 7, 255);
  color: black;
  margin-right: 0.5rem;
}

.react {
  display: inline;
  border: 2px solid rgba(23, 162, 185, 255);
  border-radius: 5px;
  background-color: rgba(23, 162, 185, 255);
  color: white;
}

.negocios {
  display: inline;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(108, 117, 125, 255);
  color: white;
  margin-right: 0.5rem;
}

.star {
  display: inline;
  border: 2px solid rgba(221, 53, 68, 255);
  border-radius: 5px;
  background-color: rgba(221, 53, 68, 255);
  color: white;
  margin-right: 0.5rem;
}

.card-text {
  margin-top: 0.5rem;
}

.letras {
  background-color: rgba(53, 58, 64, 255);
  color: white;
  margin-top: 1rem;
  margin-left: 0;
}

.playa {
  margin-top: 1rem;
  margin-right: 0;
}

.mas {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.bs {
  margin-top: 1rem;
}

.conviertete {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-size: small;
}

.or {
  margin-top: -14px;
  font-size: x-large;
}

.contact-form {
  text-align: center;
  margin-top: 1rem;
}

.nombre1 {
  margin-bottom: 1rem;
}
.nombre2 {
  margin-bottom: 1rem;
}
.subject {
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn-success {
  background-color: rgba(150, 201, 62, 255);
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}
.recuerda {
  margin-top: -20px;
  font-size: small;
  color: grey;
}

/* media querries de la form para pantallas grandes */

@media only screen and (min-width: 1000px) {
  .nombre1 {
    text-align: end;
  }
}

@media only screen and (min-width: 1000px) {
  .nombre2 {
    text-align: start;
  }
}

@media only screen and (min-width: 1000px) {
  .subject {
    padding-right: 14.5rem;
    /* padding-left: 7.5rem; */
  }
}

@media only screen and (min-width: 1000px) {
  .btn-success {
    padding-right: 11.5rem;
    padding-left: 11.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .recuerda {
    margin-top: -23px;
    margin-left: -160px;
    font-size: small;
    color: grey;
  }
}
/* -------------------------------------------------- */

/* footer styles */
.footer-container {
  background-color: rgba(30, 81, 110, 255);
  margin-top: 1rem;
  color: white;
}

.footer-items {
  margin-top: 1rem;
  width: auto;
}

@media only screen and (min-width: 1000px) {
  .footer-items {
    margin-top: 1rem;
    text-align: center;
    margin-left: 15rem;
    margin-right: -10rem;
  }
}

@media only screen and (min-width: 1000px) {
  .footer-container {
    background-color: rgba(30, 81, 110, 255);
    margin-top: 1rem;
    color: white;
    height: 80px;
  }
}
